CONFIG_PARTITION_TABLE_TWO_OTA_LARGE=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_NODE0_STATIC_IP_ENABLE=y
CONFIG_NODE0_STATIC_IP_ADDR="192.168.1.50"
CONFIG_NODE0_STATIC_NETMASK_ADDR="255.255.255.0"
CONFIG_NODE0_STATIC_GW_ADDR="192.168.1.1"
CONFIG_NODE0_STATIC_DNS_ADDR="192.168.1.1"
CONFIG_NODE0_HTTPS_PORT=443
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=4096
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=4096
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
